.albumContainer {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80vw;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  }

  .itemContainer {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex: 10;
  }

  .itemData {
    font-size: 0.8rem;
    color: #999;
  }

  .itemName {
    font-weight: bold;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: "Roboto-M";
    color: #444;
  }
  .deleteAlbum {
    display: flex;
  }
  .photoContainer {
    display: flex;
    flex: 15;
  }

  .itemPhoto {
    width: 500px;
    height: 100px;
    display: flex;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
}

.allAlbumContainer {
  margin-top: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.albumTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Roboto-M";
  color: #444;
}
.delete-album-btn {
  text-decoration: none;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 5px;
  font-family: "Roboto";
  background-color: white;
  cursor: pointer;
  transition: linear 0.15s;
}

.deleteAlbum {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: linear 0.15s;
}

.delete-album-btn:hover {
  transform: scale(1.05);
  background-color: rgb(255, 100, 100);
}

@media (max-width: 800px) {
  .albumContainer {
    width: 90vw;
  }
}
