.albumContainer {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80vw;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  }

  .itemContainer {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex: 10;
  }

  .itemData {
    font-size: 0.8rem;
    color: #999;
  }

  .itemName {
    font-weight: bold;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: "Roboto-M";
    color: #444;
  }
  .deleteAlbum {
    display: flex;
  }
  .photoContainer {
    display: flex;
    flex: 15;
  }

  .itemPhoto {
    width: 500px;
    height: 100px;
    display: flex;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
}

.allAlbumContainer {
  margin-top: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemCategory {
  margin-right: 50px;
}

.albumTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Roboto-M";
  color: #444;
}
.delete-album-btn {
  text-decoration: none;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 5px;
  font-family: "Roboto";
  background-color: white;
  cursor: pointer;
  transition: linear 0.15s;
}

.deleteAlbum {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: linear 0.15s;
}

.delete-album-btn:hover {
  transform: scale(1.05);
  background-color: rgb(255, 100, 100);
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 60%;
  max-width: 800px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #444;
}

.close {
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  margin-top: 20px;
  color: #555;
  font-size: 1.2rem;
  line-height: 1.5;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-login {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-login:hover {
  background-color: #0069d9;
}

@media (max-width: 800px) {
  .albumContainer {
    width: 90vw;
  }
}
